{% extends "index.html" %}

{% block menu %}
  <li id="active"><a href="/" id="current">Inicio</a></li>
  <li class="green"><a href="/museos">Todos</a></li>
{% endblock %}

{% block contenido %}
  </br></br></br></br></br></br></br></br></br>
  <h3> Aplicación de museos de la ciudad de madrid: </h3></br>
  <p><h5> Página realizada por Cayetana Gómez, alumna de la ETSIT.</h5></br>
      Práctica con diferentes URLs que le ayudarán a su correcto funcionamiento.</br>
      Como puede observar en el menú de la izquierda si pincha en: <h5>"Inicio"</h5> volverá a la página principal,
      la cual le permite acceder a todo lo que quiera. </br>
      Por un lado estaría: <h5>"Todos"</h5> donde puede ver todos los museos de la ciudad de Madrid con redirección a la página oficial del museo
      (pinchando en el nombre del museo) y a la página con la información correspondiente y comentarios (más información).</br>
      Por otro lado: <h5>"Error"</h5> no es una url disponible sobre la que puedes pinchar pero si que en el momento que se incluya algo
      no válido se irá a esa página, la cual te mostrará un mensaje de error y te indicará en como continuar con tu navegación.</br>
      También he incluido al final de la página: <h5>"usuarios registrados"</h5> por si uno quiere acceder más rápido a la página de estos,
      esta página incluye la información de cada usuario como es el título y los museos que ha seleccionado, además estos aparecerán de
      5 en 5.</br>
      Por último: <h5>"cargar"</h5> los datos de la página corresponden a la url: '/cargar' y pinchando en el botón guardaremos en la
      base de datos toda la información de los museos. No es recomendable acceder más de una vez con el mismo xml, para no tener repetidos los museos.
    </p>
{% endblock %}
