
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
{% load static %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="container">

<div id="header">

<div id="header_left">
<h1>Museos <span class="red"></span></h1>
<h2>Ciudad de Madrid</h2>
</div>

<div id="header_right">
  {% if autentificado %}
    <form id="form1" method="post" action="/logout">
      {% csrf_token %}
      <p class="welcome">Bienvenid@: {{ usuario }}</p>
      <input type="submit" class="submit_button" name="Submit" value="Logout" />
    </form>
  {% else %}
    <p class="welcome">Bienvenid@. Por favor introduzca su usuario.</p>

    <form id="form1" method="post" action="/login">
      {% csrf_token %}
      <p><label>Username
      <input type="text" class="fields" name="username" />
      </label>
      <label>Password
      <input type="password" class="fields" name="password" />
      <input type="submit" class="submit_button" name="Submit" value="Login" />
      </label></p>
    </form>
  {% endif %}
  </div>

</div>

<div id="left">

<h4><span class="menu_first_letter">Menu</span></h4>

<div id="navcontainer">
<ul id="navlist">
{% block menu %}{% endblock %}
{% block usuarios %}{% endblock %}

</div>

<div id="right">
  <p>{% block contenido %}{% endblock %}</p>
  {% block options %}{% endblock %}
</div>
<center>
<div id="footer">Esta aplicación
utiliza datos del portal de datos abiertos de la ciudad de Madrid | <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Datos Ayuntamiento de Madrid.</a> </div>
</div>
</center>
</body>
</html>
