{% extends "index.html" %}

{% block contenido %}
  {{ titulo | safe}}

    {% if acceso %}
      <form action="/titulo_nuevo" method="POST">
        {% csrf_token %}
        <h3>Titulo:</h3>
        <textarea name="título" cols="30" rows="2"></textarea><br>
        <input type="submit" value="Enviar">
      </form>

      <h3>Cambio estilo:</h3></br>
         <form action="/estilo_nuevo" method="POST">
           {% csrf_token %}
           <h4>Fuente</h4>
              <input class="textbox" type="text" name="fuente" value="62.5">
           <h4>Color</h4>
             <input class="textbox" type="text" name="color" value="white"></br></br>
             <input class="boton" type="submit" value="Enviar"></br></br></br>
         </form>
    {% endif %}

  {{respuesta | safe }}
  <h3> Páginas disponibles:</h3>
  {{ ans | safe }}

{% endblock %}

{% block menu %}
  <li id="active"><a href="/" id="current">Inicio</a></li>
  <li><a href="/museos">Todos</a></li>
  <li><a href="/about">About</a></li>
{% endblock %}

{% block usuarios %}
  <h4><span class="menu_first_letter">Opciones</span></h4>
  <li id="active"><a href="{{nombre}}/json" id="current">Json</a></li>
  <li><a href="{{nombre}}/xml">Xml</a></li>
{% endblock %}
